*{
    padding: 0;
    margin: 0;
    background-color: beige;
}
.container{
    width: 100%;
    font-size: 25px;
    text-align: justify;
}
table tr td{
    border: 0.4rem solid rgb(180, 125, 125);
    display: block;
    margin: 30px ;
}
a{
    text-decoration: none;
    color: black;
}
p{
    margin: 10px;
}
h3{
    margin: 10px;
}